body{
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	/*background-color: #F2D6BD;*/
}

#p_title{
	background-color: #857F8C;
	color: #1F1933;
	text-align: center;
	width:702px;
	height:130px;
	text-decoration: bold;
	font-size: 60px;
	padding-top: 40px;
	margin-bottom:20px;
	margin-top:20px;


}
#canvas_container {
	position: absolute; 
	left: 52%; 
	/*top: 50%;*/
	margin-left: -400px;
	/*margin-top: -350px; */
	/*width:800px;*/
	/*height:500px;*/
}

button{
	height: 40px;
	width: 70px;
	background-color: #857F8C;
	color:white;
	font-size:15px;
	border:2px outset;
	border-radius: 5px;
}

input[type="radio"]{
	background-color: #A49599;
	height:15px;
	width:15px;
	color:#A49599;
}

#table{
	margin-top: 20px;
	border: solid 1px #A49599;	
	margin-bottom: 100px;
}
td{
	width: 10px;
	height:10px;
}

form{
	margin-top: 5px;
}
#startStop{
	float:right;
}

.green{
	background-color: green;
}
.red{
	background-color: red;
}
.blue{
	background-color: blue;
}
.black{
	background-color: black;
}